.body{
    background-color: #56565652;
}
.title{
    color: #ffffff;
    margin: 40px;
    font-weight: 200;
    font-size: 88px;
    margin-bottom: 70px;
}
.row{
    margin:25px;
}

.menue{
    margin-top: 20px;
    margin-left: 20px;
}

.listPresets{
  margin-left: 10%;
}

.button{
    width:5%;
    height: 5%;
}

.button :active{
    background-image: "img/button_red.png";
}

.button :hvoer{
    background-image: "img/button_red.png";
}

.steps{
    margin-top: 10%;
    font-size: 30pt;
}